In [1]:
"""Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango' to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list"""

a= [2,3,4,5,6,7] #creating a list with variable a
print('starting\n',a,"\n")
a.append('mango') #add 'mango' to the end of the list
print("1",a)
a.extend(['banana', 'grapes', 'orange'])  # add multiple items to the end of the list
print("2",a)
a.insert(4, 'apple')    # insert 'apple' at the 5th position (index 4) of the list
print("3",a)
a.pop()                 # remove and return the last item from the list

print(a)                # print the modified list

starting
 [2, 3, 4, 5, 6, 7]

1 [2, 3, 4, 5, 6, 7, 'mango']
2 [2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']
3 [2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']
[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

In [2]:
"""Reverse the order of given string L = [4,5,6,8,3]"""

L=[4,5,6,8,3]
L.reverse()
print(L)

[3, 8, 6, 5, 4]

In [3]:
'''Use list comprehension to square the given list L=[2,4,7,3,6,8]'''

L=[2,4,7,3,6,9]
L_squared = [x**2 for x in L]
print(L_squared)

[4, 16, 49, 9, 36, 81]

In [4]:
'''Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice. '''

def sum_tuple(x):
  return sum(x)

t_tuple=(5,6,9,8,7)
sum_of_tuple = sum_tuple(t_tuple)
print(sum_of_tuple)

35

In [5]:
'''Create two sets and use the union() method to combine them into a single set. Print the resulting set to the console'''

set1 = {"mango","car","jeep","tandoor"}

set2 = {"laptop","headphone","speaker","phone"}

comb_set = set1.union(set2)
print(comb_set)

{'phone', 'jeep', 'speaker', 'headphone', 'laptop', 'car', 'mango', 'tandoor'}

In [6]:
"""Create a set, and use the add() method to add a new word to the set. Print the resulting set to the console."""

set1 = {"mango","car","jeep","tandoor"}

set1.add("charger")
print(set1)

{'jeep', 'charger', 'car', 'mango', 'tandoor'}

In [7]:
"""Create a set, and use the remove() method to remove one thing from the set. Print the resulting set to the console."""

set1 = {"mango","car","jeep","tandoor"}
set1.remove("mango")
print(set1)

{'car', 'tandoor', 'jeep'}

In [8]:
'''Use the zip() function to combine sets and list into a list of tuples Print the resulting list.'''

set_a={1,2,3,4}
set_b=['a','b','c','d']

ab_pair=list(zip(set_a, set_b))
print("method 1 output", ab_pair)

print('\n method 2 output')
for a, b in zip(set_a, set_b):
    print(a, b)

method 1 output [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

 method 2 output
1 a
2 b
3 c
4 d

In [9]:
'''Write a Python program to find the difference between consecutive numbers in a list'''

def consecutive_difference(lst):
    diff_lst = []
    for i in range(len(lst)-1):
        diff_lst.append(abs(lst[i] - lst[i+1]))
    return diff_lst

# Example usage
my_list = [3, 5, 2, 8, 1]
diff_list = consecutive_difference(my_list)
print(diff_list)

[2, 3, 6, 7]